  @import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

 body {
  font-family: 'Alata', Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
}


h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

header {
    position: relative;
  background-image: 
  linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
  url(images/desktop/image-hero.jpg);
                
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 550px;
height: auto;
}


#header-title {
    font-size: 55px;
    text-transform: uppercase;
    border: 1px white solid;
    max-width: 400px;
    width: 100%;
    margin: 100px;
    padding: 25px;
    color: white;
}

#highlight-title {
    font-size: 45px;
    text-transform: uppercase;
}
  
.header-links {
    margin: 80px 100px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    margin-right: 50px;
    gap: 30px;
    display: flex;
}   

a {
text-decoration: none;
color: white;
}

p {
    color: hsl(0, 2%, 42%);
    line-height: 25px;
    font-size: 15px;
}
  
    .highlight {
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
         position: relative; 
          gap: 0;
          margin: 0 auto;
            margin-top: 150px;
            margin-right: 45%;
            justify-content: center;
    }

    #highlight-image {grid-area: 1 / 1 / 3 / 2;}
    #highlight-info {
                    width: 455px;
                      max-width: 80%; 
                    grid-area: 2 / 1 / 3 / 2;
                      background: white;
                      padding: 50px;
                     margin-left: 80%;    
                     margin-right: 0;  
                     margin-top: -50px;    
                     z-index: 2;   
                    }

  .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }